.Hint {
  position: relative;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: .15s ease;
}

.SentenceHints:hover .Hint {
  text-decoration-color: #555;
}

.Hint .popup {
  font-size: 10px;
  background-color: #171717;
  border-radius: 5px;
  padding: 1px 3px;
  box-shadow: 0 0 4px #222;
  white-space: nowrap;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -85%);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: .15s ease .1s;
}

.SentenceHints .Hint:hover {
  text-decoration-color: #888;
}

.Hint:hover .popup {
  opacity: 1;
  transform: translate(-50%, -90%);
}