.TextsMenu textarea,
.TextsMenu input {
  margin: 16px;
}

.TextsMenu textarea {
  width: 250px;
  height: 75px;
}

.TextsMenu .remove-buttons {
  margin: auto;
  margin-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TextsMenu .remove-buttons button {
  text-align: start;
}

.TextsMenu .exit-btn {
  margin-top: 32px;
}